<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="LWManagerCore.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <LWManagerCore.Properties.Settings>
            <setting name="DebtLimit" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="CompanyName" serializeAs="String">
                <value>company</value>
            </setting>
            <setting name="CompanyLogoImageName" serializeAs="String">
                <value>companyLogo.png</value>
            </setting>
            <setting name="DatabaseFileName" serializeAs="String">
                <value>LWMDatabase.db</value>
            </setting>
            <setting name="DatabaseArchiveFolder" serializeAs="String">
                <value>OldDB</value>
            </setting>
            <setting name="AgreementWordFileName" serializeAs="String">
                <value>agreementTemplate.docx</value>
            </setting>
            <setting name="CompanyOwnerName" serializeAs="String">
                <value>Mavlyanov Azizxon Xusniddinovich</value>
            </setting>
            <setting name="AgreementArchiveFolderName" serializeAs="String">
                <value>agreementsArchive</value>
            </setting>
            <setting name="MysqlBackupUrl" serializeAs="String">
                <value>server3.ahost.uz</value>
            </setting>
            <setting name="MysqlDatabaseName" serializeAs="String">
                <value>lwmanage_backup</value>
            </setting>
            <setting name="MysqlUsername" serializeAs="String">
                <value>lwmanage</value>
            </setting>
            <setting name="Password" serializeAs="String">
                <value>123</value>
            </setting>
            <setting name="MysqlPassword" serializeAs="String">
                <value>lwapp</value>
            </setting>
            <setting name="CompanyAddress" serializeAs="String">
                <value />
            </setting>
            <setting name="CompanyPhone" serializeAs="String">
                <value />
            </setting>
            <setting name="CompanyCard" serializeAs="String">
                <value />
            </setting>
        </LWManagerCore.Properties.Settings>
    </userSettings>
</configuration>